@model ProGym_Site.Models.Blog

@{
    ViewBag.Title = "BlogDetay";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}


<!-- Page top section -->
<section class="page-top-section set-bg" data-setbg="/Content/SiteLayout/img/header-bg/3.jpg">
    <div class="container">
        <h2>@Model.Baslik</h2>
    </div>
</section>
<!-- Page top section end -->
<!-- Blog section -->
<section class="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                
                    <div class="blog-item">
                        <img src="@Model.ResimURL" alt="@Html.Raw(Model.Baslik)">
                        <h2>@Html.Raw(Model.Baslik)</h2>
                        <div class="blog-metas">

                            <div class="blog-meta"><img src="/Content/SiteLayout/img/icons/layout.png" alt="">@Html.Raw(Model.Kategori.KategoriAd)</div>
                            @*<div class="blog-meta"><img src="/Content/SiteLayout/img/icons/profile.png" alt="">2 comments</div>*@
                        </div>
                        <p>@Html.Raw(Model.Icerik)</p>
                    </div>
                
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9 sidebar">
                <div class="widget-area">
                    <form class="search-widget">
                        <input type="text" placeholder="Search">
                        <button><img src="/Content/SiteLayout/img/icons/search.png"></button>
                    </form>
                </div>

                @{ Html.RenderAction("BlogKategoriPartial", "Home");}

                

            </div>
        </div>
    </div>
</section>
<!-- Blog section end -->