
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ViewBag.Kimlik.Title</title>
    <meta name="description" content="@Html.Raw(ViewBag.Kimlik.Description)">

    <meta name="keywords" content="@Html.Raw(ViewBag.Kimlik.Keywords)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="@ViewBag.Kimlik.LogoURL" rel="shortcut icon" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/Content/SiteLayout/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/SiteLayout/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/Content/SiteLayout/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/Content/SiteLayout/css/flaticon.css" />
    <link rel="stylesheet" href="/Content/SiteLayout/css/slicknav.min.css" />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="/Content/SiteLayout/css/style.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    <link rel="stylesheet" href="/Content/SiteLayout/css/compact-gallery.css">

</head>
<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    @{ Html.RenderAction("Header", "Home");}
    <!-- Header section end -->

    <div class="clearfix"></div>

    @RenderBody()
    <!-- Footer section -->
    @{ Html.RenderAction("Footer", "Home");}
    <!-- Footer section end -->
    <!--====== Javascripts & Jquery ======-->
    <script src="/Content/SiteLayout/js/jquery-3.2.1.min.js"></script>
    <script src="/Content/SiteLayout/js/bootstrap.min.js"></script>
    <script src="/Content/SiteLayout/js/jquery.slicknav.js"></script>
    <script src="/Content/SiteLayout/js/owl.carousel.min.js"></script>
    <script src="/Content/SiteLayout/js/circle-progress.min.js"></script>
    <script src="/Content/SiteLayout/js/main.js"></script>
    <!--====== Default JS ======-->
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>